div#container
{
   width: 390px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #D3D3D3;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: visible;
   overflow-y: visible;
}
.wb-theme-header
{
   background-color: #F8F8F8;
   background-image: none;
   border: 1px solid #D2D2D2;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(248,248,248,1.00);
   --border-color: #D2D2D2;
   --border-width: 1px;
   --color: #212529;
}
.wb-theme-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #DEE2E6;
   --border-width: 1px;
   --color: #212529;
   --icon-color: #0D6EFD;
   --colorize: invert(29%) sepia(92%) saturate(1850%) hue-rotate(207deg) brightness(95%) contrast(109%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #272B2F;
   background-image: none;
   border: 1px solid #424549;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(39,43,47,1.00);
   --border-color: #424549;
   --border-width: 1px;
   --color: #DEE2E6;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #0D6EFD;
   --colorize: invert(28%) sepia(94%) saturate(3003%) hue-rotate(211deg) brightness(101%) contrast(99%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-widget-header
{
   background-color: #F8F8F8;
   background-image: none;
   border: 1px solid #D2D2D2;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(248,248,248,1.00);
   --border-color: #D2D2D2;
   --border-width: 1px;
   --color: #212529;
}
.ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #DEE2E6;
   --border-width: 1px;
   --color: #212529;
   --icon-color: #0D6EFD;
   --colorize: invert(39%) sepia(83%) saturate(4637%) hue-rotate(208deg) brightness(96%) contrast(106%);
}
.ui-state-default
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-state-hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-state-default.active, .ui-state-active, .active > .ui-state-default
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-widget-header
{
   background-color: #272B2F;
   background-image: none;
   border: 1px solid #424549;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(39,43,47,1.00);
   --border-color: #424549;
   --border-width: 1px;
   --color: #DEE2E6;
}
.darktheme .ui-widget-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #0D6EFD;
   --colorize: invert(30%) sepia(36%) saturate(5682%) hue-rotate(210deg) brightness(101%) contrast(102%);
}
.darktheme .ui-state-default, .darktheme .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-state-hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-state-default.active, .darktheme .ui-state-active, .active > .ui-state-default
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-button{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-button:active
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
#Button1
{
   border: 1px solid #0D6EFD;
   border-radius: 100px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Button2
{
   border: 1px solid #0D6EFD;
   border-radius: 100px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#wb_Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon2 a
{
   text-decoration: none;
}
#wb_Icon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon2
{
   height: 21px;
   width: 21px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#Icon2 i
{
   color: #000000;
   display: inline-block;
   font-size: 21px;
   line-height: 21px;
   vertical-align: middle;
}
#wb_Icon2:hover #Icon2 i
{
   color: #000000;
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon1 a
{
   text-decoration: none;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon1
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#Icon1 i
{
   color: #000000;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_Icon1:hover #Icon1 i
{
   color: #000000;
}
#Layer1
{
   background-color: #F8F9FA;
   background-image: none;
   border-radius: 0px;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Button4
{
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:focus
{
   outline: 0;
}
#wb_Icon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon3 a
{
   text-decoration: none;
}
#wb_Icon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon3
{
   height: 31px;
   width: 38px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
.Icon3
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   line-height: 1;
}
.Icon3:before
{
   content: "\e5d2";
}
#Icon3 i
{
   color: #000000;
   display: inline-block;
   font-size: 31px;
   line-height: 31px;
   vertical-align: middle;
}
#wb_Icon3:hover #Icon3 i
{
   color: #000000;
}
#wb_Icon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon4 a
{
   text-decoration: none;
}
#wb_Icon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon4
{
   height: 31px;
   width: 38px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
.Icon4
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   line-height: 1;
}
.Icon4:before
{
   content: "\e5cd";
}
#Icon4 i
{
   color: #000000;
   display: inline-block;
   font-size: 31px;
   line-height: 31px;
   vertical-align: middle;
}
#wb_Icon4:hover #Icon4 i
{
   color: #000000;
}
#wb_Form1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
}
#Layer4
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
}
#Layer5
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Form5
{
   background-color: #D3D3D3;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 10px;
}
#Layer11
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 10px;
}
#ThemeableButton7
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   border-style: solid;
   border-width: 1px;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButton7 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton7.ui-corner-all
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#ThemeableButton7.ui-corner-all
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#ThemeableButton8
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   border-style: solid;
   border-width: 1px;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButton8 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton8.ui-corner-all
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#ThemeableButton8.ui-corner-all
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_Form14
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 15px;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 17px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#Button3
{
   border: 0px solid #C5C5C5;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4169E1;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: left;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:focus
{
   outline: 0;
}
#wb_Icon10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#Icon10
{
   height: 20px;
   width: 25px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
.Icon10
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   line-height: 1;
}
.Icon10:before
{
   content: "\e877";
}
#Icon10 i
{
   color: #4169E1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_Icon10:hover #Icon10 i
{
   color: #444444;
}
#wb_Heading11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading11
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Form4
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 15px;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading3
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 17px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button5
{
   border: 0px solid #C5C5C5;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4169E1;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: left;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:focus
{
   outline: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_Icon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#Icon5
{
   height: 20px;
   width: 25px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
.Icon5
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   line-height: 1;
}
.Icon5:before
{
   content: "\e877";
}
#Icon5 i
{
   color: #4169E1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_Icon5:hover #Icon5 i
{
   color: #444444;
}
#wb_Form6
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 15px;
}
#wb_Heading8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading8
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 17px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text7 p, #wb_Text7 ul
{
   margin: 0;
   padding: 0;
}
#Button6
{
   border: 0px solid #C5C5C5;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4169E1;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: left;
   -webkit-appearance: none;
   margin: 0;
}
#Button6:focus
{
   outline: 0;
}
#wb_Icon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#Icon6
{
   height: 20px;
   width: 25px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
.Icon6
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   line-height: 1;
}
.Icon6:before
{
   content: "\e877";
}
#Icon6 i
{
   color: #4169E1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_Icon6:hover #Icon6 i
{
   color: #444444;
}
#Layer12
{
   background-color: #F8F9FA;
   background-image: none;
   border-radius: 15px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Layer13
{
   background-color: #F8F9FA;
   background-image: none;
   border-radius: 0px;
}
#wb_Form8
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 15px;
}
#Progressbar1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 10px;
   overflow: hidden;
}
#Progressbar1 .progress-bar
{
   background-color: #0000FF;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 6%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 500ms linear;
   white-space: nowrap;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Form10
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 15px;
}
#wb_Heading9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading9
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Progressbar2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 10px;
   overflow: hidden;
}
#Progressbar2 .progress-bar
{
   background-color: #0000FF;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 6%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 500ms linear;
   white-space: nowrap;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Form11
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 15px;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading10
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Progressbar4
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 10px;
   overflow: hidden;
}
#Progressbar4 .progress-bar
{
   background-color: #0000FF;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 6%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 500ms linear;
   white-space: nowrap;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Heading13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading13
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Heading14
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading14
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Form12
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 15px;
}
#wb_Heading15
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading15
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Progressbar8
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 10px;
   overflow: hidden;
}
#Progressbar8 .progress-bar
{
   background-color: #0000FF;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 6%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 500ms linear;
   white-space: nowrap;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Heading16
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading16
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#Tab
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 15px;
}
#wb_Form2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
}
#wb_Form3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: center;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   direction: ltr;
   width: 100%;
}
#wb_CssMenu1 li
{
   display: inline-block;
   margin: 0;
   padding: 0px 0px 10px 0px;
   width: 100%;
}
#wb_CssMenu1 a
{
   display: block;
   color: #696969;
   border: 0px solid #0D6EFD;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
   vertical-align: middle;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 10px);
   box-sizing: border-box;
   height: 35px;
   padding: 0 5px 0px 0px;
   line-height: 35px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   border: 0px solid #0A58CA;
   background-color: #528FEB;
   background-image: none;
}
#wb_CssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#CssMenu1 li i
{
   font-size: 13px;
   margin-right: 3px;
   width: 15px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer6
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer7
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer8
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer9
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
 /* Preloader styles */ #preloader { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; background-color: #fff; display: flex; justify-content: center; align-items: center; } .image {  width: 300px; height: 300px; margin: -60px 0 0 -10px; -webkit-animation: spin 1s linear infinite; -moz-animation: spin 1s linear infinite; animation: spin 1s linear infinite; } @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } } @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } } @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } 